$ubuntu: 'Ubuntu', sans-serif;
$lato: 'Lato', sans-serif;
$raleway: 'Raleway', sans-serif;

@mixin mediaSm {
  @media screen and (max-width: 767px) {
    @content;
  }
}

// Colors
$gold: #d89e04;

#Nav {
  transition: all 1s;
  .navbar-nav {
    padding: 15px 0px;
    .nav-item {
      margin: 5px;
      .nav-link {
        color: #dadada;
        font-family: $lato;
        font-size: 1.2rem;
        position: relative;
        text-decoration: none;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: #fff;

          &::after,
          &::before {
            width: 100%;
            left: 0;
          }
        }

        &::after,
        &::before {
          content: '';
          position: absolute;
          top: calc(100% + 5px);
          width: 0;
          right: 0;
          height: 3px;
        }

        &::before {
          transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
          background: #333;
        }

        &::after {
          transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
          background: $gold;
        }
        .active {
          color: red !important;
        }
      }
    }
    #ClientLoginBtn {
      color: #333;
      text-decoration: none;
      background: $gold;
      transition: all 0.2s ease-in-out;
      border: 1px solid black;
      border-radius: 20px;
      font-family: $lato;
      font-size: 1.2rem;
      position: relative;
      padding: 10px 10px;

      &:hover {
        background: #fff;
        color: black;
        border: 1px solid black;
      }
    }
  }
}
.light {
  background: white;
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: #333 !important;
      }
      .active {
        color: $gold !important;
        font-weight: 700;
      }
    }
    #ClientLoginBtn {
      color: #333;
      text-decoration: none;
      background: #fff !important;
      border: 1px solid black;

      &:hover {
        background: $gold !important;

        border: 1px solid black;
      }
    }
  }
}

.Cover-Page {
  width: 100%;
  height: 100vh;

  background: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)),
    url(../img/austin.jpg);
  background-size: cover;
  background-position: center;
  display: table;

  .middle {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    h2 {
      margin-top: 25px;
      color: white;
      font-family: $ubuntu;
      font-size: 2.5rem;
      span {
        color: $gold;
      }
    }

    .learnBtn {
      color: white;
      font-family: $ubuntu;
      border: 2px solid white;
      margin-top: 50px;
      padding: 10px 15px;
      transition: all ease-in-out 0.5s;
      &:hover {
        background: white;
        color: black;
        font-weight: bold;
      }
    }
  }
  #Logo {
    color: white;

    font-family: $ubuntu;
    font-weight: 700;
  }
}

.neon {
  color: $gold;
  font-size: 5rem;
  text-shadow: 0 0 3vw $gold;
}

.flux {
  color: white;
  font-size: 5rem;
  text-shadow: 0 0 3vw white;
}

.neon {
  animation: neon 2s ease infinite;
  -moz-animation: neon 2s ease infinite;
  -webkit-animation: neon 2s ease infinite;
  -o-animation: neon 2s linear infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw $gold, 0 0 3vw $gold, 0 0 10vw $gold, 0 0 10vw $gold,
      0 0 0.4vw #fed128, 0.5vw 0.5vw 0.1vw #806914;
    color: #fed128;
  }
  50% {
    text-shadow: 0 0 0.5vw darken($color: $gold, $amount: 30),
      0 0 1.5vw darken($color: $gold, $amount: 30),
      0 0 5vw darken($color: $gold, $amount: 30),
      0 0 5vw darken($color: $gold, $amount: 30),
      0 0 0.2vw darken($color: $gold, $amount: 30), 0.5vw 0.5vw 0.1vw #40340a;
    color: #806914;
  }
}

.flux {
  animation: flux 1s linear infinite;
  -moz-animation: flux 1s linear infinite;
  -webkit-animation: flux 1s linear infinite;
  -o-animation: flux 1s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #e4e4e4, 0 0 3vw #e4e4e4, 0 0 10vw #e4e4e4,
      0 0 10vw #e4e4e4, 0 0 0.4vw #555, 0.5vw 0.5vw 0.1vw #333;
    color: #eeeeee;
  }
  50% {
    text-shadow: 0 0 0.5vw #666, 0 0 1.5vw #666, 0 0 5vw #666, 0 0 5vw #666,
      0 0 0.2vw #666, 0.5vw 0.5vw 0.1vw #333;
    color: white;
  }
}
#sec1 {
  width: 100%;
  .container {
    .row {
      padding: 50px 0px;
      .col-md-6 {
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
          width: 100%;
        }
        p {
          font-family: $lato;
          font-size: 2rem;
          text-align: center;
          padding: 0px 10px;
          span {
            color: $gold;
            font-weight: bold;
          }
        }
        .btn {
          color: black;
          width: 200px;

          font-family: $ubuntu;
          border: 2px solid black;
          margin: 0px auto 0px auto;
          padding: 10px 15px;
          transition: all ease-in-out 0.3s;
          &:hover {
            background: $gold;
            color: black;
            font-weight: bold;
          }
        }
      }
    }
  }

  .container-fluid {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img/fees.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top: 2px solid $gold;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-family: $ubuntu;
      color: white;
      text-align: center;
    }
    .btn {
      color: white;
      width: 200px;

      font-family: $ubuntu;
      border: 2px solid white;
      margin: 0px auto 0px auto;
      padding: 10px 15px;
      transition: all ease-in-out 0.3s;
      &:hover {
        background: white;
        color: black;
        font-weight: bold;
      }
    }
  }

  @include mediaSm {
    p {
      margin: 50px;
      font-size: 1.5rem !important;
    }
  }
}
#About {
  @include mediaSm {
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.2rem;
    }
  }
  .container {
    padding: 0px;
    margin-top: 120px;
    text-align: center;
    transition: all 1s ease-in-out;
    h1,
    h2 {
      transition: all 1s ease-in-out;
      font-family: $ubuntu;
    }
    img {
      width: 100%;
      max-width: 500px;
      margin-bottom: 0px;
    }
    @include mediaSm {
      h1 {
        font-size: 1.3rem;
      }
      h2 {
        font-size: 1.2rem;
      }
    }
    .nav {
      position: fixed;
      background: white;
      overflow: visible;
      width: 100%;
      top: 85px;
      left: 0;
      z-index: 200;
      .nav-item {
        .nav-link {
          text-decoration: none;
          color: #333;
          font-family: $raleway;
          font-size: 1.2rem;
          position: relative;
          text-decoration: none;
          transition: all 0.2s ease-in-out;

          &:hover {
            color: #000;
            font-weight: bold;

            &::after,
            &::before {
              width: 100%;
              left: 0;
            }
          }

          &::after,
          &::before {
            content: '';
            position: absolute;
            top: calc(100% + 5px);
            width: 0;
            right: 0;
            height: 3px;
          }

          &::before {
            transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
            background: #333;
          }

          &::after {
            transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
            background: $gold;
          }
        }
        .active {
          font-weight: bold;
          color: black;
        }
      }
      @include mediaSm {
        top: 80px;
      }
    }
  }
}
#myTabContent {
  margin-top: 0px !important;
  .container-fluid {
    padding: 0;
    .showtron {
      height: 400px;

      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../img/360.jpg);
      background-position: center center;
      background-size: cover;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: $ubuntu;
      h1 {
        color: white;
        text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
          0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
        font-size: 3rem;
      }
      h2 {
        color: white;
        text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
          0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
        font-size: 2.5rem;
      }
    }
    .advisor {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../img/bike.jpg);
      background-position: bottom center;
    }

    .container {
      margin-top: 0px !important;
      h1 {
        text-align: center;
        padding: 20px 10px;
      }
      h3 {
        padding: 15px 0px;
        text-align: left;
      }
      p {
        font-family: $lato;
        font-size: 1.1rem;
        text-align: left;
      }
      ol {
        text-align: left;
        li {
          margin-bottom: 10px;

          padding-left: 10px;
          font-family: $raleway;
          font-weight: bold;
        }
      }
    }
  }
}
#SocialMedia {
  height: 300px;
  background: #333;
  border-top: 2px solid $gold;
  border-bottom: 2px solid $gold;

  .row {
    margin: 50px auto 30px auto;
    justify-content: center;

    .col-xs-3 {
      text-align: center;
      justify-content: center;

      a {
        font-size: 50px;
        padding: 15px;
        text-align: center;
        color: white;
        transition: 1s;

        &:hover {
          cursor: pointer;
          font-size: 60px;
          transition: 1s;
          color: #3b5998;
        }
      }
    }
  }

  p {
    color: white;
    text-align: center;
    font-size: 1.2rem;
  }
}

footer {
  text-align: center;
  padding-top: 50px;

  .col-sm-3 {
    a {
      text-decoration: none;
      color: black;
      &:hover {
        font-weight: bold;
      }
    }
  }
}
